body {
  overflow-x: hidden;
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
}

.main {
  background-color: #dfe1e6;
}

.header {
  width: 90%;
  margin-left: 5%;
}

.main {
  display: flex;
  flex-direction: column;
}

.nav-bar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
  justify-content: space-between;
}

.nav-bar li {
  width: 100%;
  display: inline;
  justify-content: space-between;
}

.nav-bar li a {
  color: #6070ff;
  text-decoration: none;
  justify-content: space-between;
  flex: 1;
}

.dropDown {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #6070ff;
  text-decoration: none;
}

.menuShow {
  color: #6070ff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

.section {
  border: 1px solid #fff;
  border-bottom-left-radius: 80px;
}

.section,
.about {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-image: url("images/header-shapes\ mobile@2x.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.details {
  order: 1;
  width: 90%;
  margin-left: 5%;
  margin-top: 20%;
}

.icons {
  order: 2;
  width: 90%;
  margin-left: 5%;
  margin-top: -5%;
  display: flex;
}

.icons ul {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  list-style-type: none;
}

.icons li {
  flex: 1 1 10%;
  text-decoration: none;
}

.icons li a {
  flex: 1;
  padding: 1px 5px;
  color: #505f79;
  font-size: 22px;
}

.title {
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
}

.con {
  color: #7f8cff;
}

.works {
  background: #e5e5e5;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-rows: auto auto auto;
  background: #e5e5e5;
  row-gap: 12px;
  align-items: center;
}

.item {
  margin: 5%;
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  align-items: flex-start;
}

.img {
  margin: 5%;
  width: 310px;
}

.title-post {
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  margin-left: 5%;
}

.text-post {
  margin-left: 5%;
  font-size: 18px;
}

.tags ul {
  display: flex;
  gap: 12px;
  list-style-type: none;
  margin-left: -8%;
  align-items: center;
}

.tags li {
  background: #ebebff;
  border-radius: 8px;
  font-size: 15px;
  color: #6070ff;
  align-items: center;
}
.tags .canopy {
  background: #fff;
  color: #344563;
  font-weight: 700;
}

.tags .grey{
  color: #7A869A;
  font-size: 15px;
}

.fa-circle {
 font-size: 10px;
}

.css-tag,
.html-tag,
.boot-tag {
  display: flex;
  flex-direction: row;
  padding: 10px 12px;
  width: 35px;
  height: 8px;
  margin-top: -3%;
  font-weight: 500;
  line-height: 20px;
}

.css-tag {
  width: 30px;
}

.boot-tag {
  width: 75px;
}

.btn {
  background: #fff;
  height: 50px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-content: center;
  border: 1px solid #6070ff;
  border-radius: 8px;
  letter-spacing: 0.03em;
  color: #396df2;
  margin: 5%;
}

.btn:hover {
  background: #6070ff;
  border-radius: 8px;
  color: #fff;
}

.about {
  background: #fff;
  border: 1px solid #fff;
  border-top-right-radius: 80px;
}

.about-btn {
  order: 3;
  width: 162px;
  margin-left: 5%;
}

.skills {
  width: 100%;
  background-color: #fff;
  margin-top: -11%;
}

.skills li {
  list-style-type: none;
}

.language-title,
.frame-title,
.skill-title {
  background: none;
  font-size: 25px;
  height: 50px;
  font-weight: 500;
  line-height: 24px;
  color: #000;
}

.child {
  background: #f7f7f9;
  padding: 10px;
  width: 90%;
  height: 70px;
  font-weight: 500;
  line-height: 20px;
  margin-left: -10%;
  align-items: center;
  border-radius: 8px;
}

.skills ul ul li {
  margin-top: 10px;
}

.image {
  margin-bottom: -10%;
  padding: 10px;
  margin-left: -5%;
}

.frame-title,
.skill-title {
  border-bottom: 1px solid #dfe1e5;
  width: 90%;
}

.fa-solid {
  margin-left: 50%;
  color: #acb7c3;
}

.bottom {
  margin-left: 71%;
}
