@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

body {
  overflow-x: hidden;
  color: #172b4d;
  font-family: "Poppins", sans-serif;
}

.main {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.header {
  width: 90%;
  margin-left: 5%;
}

.nav-bar ul {
  display: none;
}

.dropDown {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #6070ff;
  text-decoration: none;
}

.menuShow {
  color: #6070ff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

.section {
  border: 1px solid #fff;
  border-bottom-left-radius: 80px;
  background-image: url("images/header-shapes\ mobile@2x.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section,
.about {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
}

.details {
  order: 1;
  width: 90%;
  margin-left: 5%;
  margin-top: 20%;
}

.icons {
  order: 2;
  width: 90%;
  margin-left: 5%;
  margin-top: -5%;
  display: flex;
}

.icons ul {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  list-style-type: none;
}

.icons li {
  flex: 1 1 10%;
  text-decoration: none;
}

.icons li a {
  flex: 1;
  padding: 1px 5px;
  color: #505f79;
  font-size: 22px;
}

.title {
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
}

.con {
  color: #7f8cff;
}

.works {
  background: #e5e5e5;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-rows: auto auto auto;
  background: #e5e5e5;
  row-gap: 20px;
  align-items: center;
}

.item {
  margin: 5%;
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  align-items: flex-start;
}

.img {
  margin: 5%;
  width: 310px;
}

.title-post {
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  margin-left: 5%;
}

.text-post {
  margin-left: 5%;
  font-size: 18px;
}

.tags ul,
.other ul {
  gap: 12px;
  list-style-type: none;
  margin-left: -8%;
  align-items: center;
}

.tags li,
.other li {
  float: left;
  padding: 10px;
  background: #ebebff;
  border-radius: 8px;
  font-size: 15px;
  color: #6070ff;
  align-items: center;
}

.tags .canopy {
  background: #fff;
  color: #344563;
  font-weight: 700;
}

.tags .grey {
  color: #7a869a;
  font-size: 15px;
}

.fa-circle {
  font-size: 10px;
}

.css-tag,
.html-tag,
.boot-tag {
  display: flex;
  flex-direction: row;
  padding: 10px 12px;
  width: 35px;
  height: 8px;
  margin-top: -3%;
  font-weight: 500;
  line-height: 20px;
}

.css-tag {
  width: 30px;
  margin-left: 10px;
}

.boot-tag {
  width: 75px;
  margin-left: 10px;
}

.btn {
  background: #fff;
  height: 50px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-content: center;
  border: 1px solid #6070ff;
  border-radius: 8px;
  letter-spacing: 0.03em;
  color: #396df2;
  margin: 5%;
}

.btn:hover {
  background: #6070ff;
  border-radius: 8px;
  color: #fff;
}

.about {
  background: #fff;
  border: 1px solid #fff;
  border-top-right-radius: 80px;
}

.about-btn {
  order: 3;
  width: 162px;
  margin-left: 5%;
}

.skills {
  width: 100%;
  background-color: #fff;
  margin-top: 0;
}

.skills li {
  list-style-type: none;
}

.language-title,
.frame-title,
.skill-title {
  background: none;
  font-size: 25px;
  height: 50px;
  font-weight: 500;
  line-height: 24px;
  color: #000;
}

.child {
  background: #f7f7f9;
  padding: 10px;
  width: 90%;
  height: 70px;
  font-weight: 500;
  line-height: 20px;
  margin-left: -10%;
  align-items: center;
  border-radius: 8px;
}

.skills ul ul li {
  margin-top: 10px;
}

.image {
  margin-bottom: -10%;
  padding: 10px;
  margin-left: -5%;
}

.frame-title,
.skill-title {
  border-bottom: 1px solid #dfe1e5;
  width: 100%;
}

.skill-title {
  width: 108%;
}

.fa-solid {
  margin-left: 50%;
  color: #acb7c3;
}

.bottom {
  margin-left: 71%;
}

.contact {
  padding: 0;
  margin: 80px 0 0 0;
  background: url("images/Contact-me-background.svg") no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 779px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-title {
  padding: 0;
  margin: 46px 0 0 0;
  width: 801px;
  height: 56px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: white;
}

.contact-desc {
  padding: 0 10px;
  width: 327px;
  height: 102px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ebebff;
  text-align: center;
  margin-bottom: 60px;
}

footer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.form {
  width: 300px;
  height: 40px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 0 0 0 12px;
  margin: 14px 0 0 0;
  color: #172b4d;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
}

.area {
  color: #172b4d;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 300px;
  height: 150px;
  margin: 14px 0;
  padding: 12px 0 0 12px;
}

.form::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #b3bac5;
  padding: 0 0 0 12px;
}

.area::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #b3bac5;
  padding: 0 0 0 12px;
}

.contact-btn {
  width: 140px;
  height: 48px;
  background: #fff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  align-items: center;
  color: #6070ff;
  margin: 8px 175px 0 0;
  outline: none;
  border: none;
}

.contact-btn:hover {
  background: #6070ff;
  border-radius: 8px;
  color: #fff;
}

.contact-btn:active {
  background: #2230d2;
  border-radius: 8px;
  color: #fff;
}

.desktop {
  visibility: hidden;
}

@media (min-width: 768px) {
  .nav-bar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
    justify-content: space-between;
    width: 100%;
  }

  .nav-bar li {
    flex: 1;
  }

  .nav-bar .name {
    flex: 8;
  }

  .nav-bar li a {
    color: #6070ff;
    text-decoration: none;
    justify-content: space-between;
    flex: 1;
  }

  .dropDown {
    display: none;
  }

  .section {
    display: flex;
    flex-direction: column;
    background-image: url("images/Headerbg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 890px;
    justify-content: center;
    align-items: center;
  }

  .details {
    width: 60%;
    margin-top: -20%;
  }

  .icons {
    margin-left: 33%;
    margin-top: -3%;
  }

  .item {
    flex-direction: row;
    height: 416px;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .left-block {
    order: 0;
    width: 50%;
    height: 100%;
    margin-top: 1%;
  }

  .right-block {
    order: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  .img {
    order: 2;
    height: 90%;
    width: 500px;
    margin-top: 1%;
  }

  .title-post {
    margin: 0;
    transition: all 0.7s ease-in;
  }

  .title {
    animation-duration: 3s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
    }

    to {
      margin-left: 0%;
    }
  }

  .title-post:hover {
    transform: scale(1.05);
  }

  .text-post {
    margin: 0;
  }

  .tags {
    margin-top: -5%;
  }

  .other ul {
    margin-top: 15px;
  }

  .css-tag,
  .html-tag,
  .boot-tag {
    margin-top: 0;
  }

  .btn {
    margin-left: 0;
    margin-top: 5%;
    border: 1px solid #6070ff;
    border-radius: 8px;
    width: 124px;
  }

  .myself {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .about {
    width: 80%;
    margin: 0;
    margin-top: 20%;
    margin-left: 10%;
  }

  .about .icons {
    margin-left: 2%;
  }

  .about-btn {
    margin-left: 3%;
    margin-top: 0;
    width: 162px;
  }

  .skills {
    width: 100%;
    margin: 0;
    margin-top: 5%;
  }

  .text {
    width: 750px;
  }

  .bout {
    width: 447px;
  }

  .child {
    display: inline-block;
  }

  .skills ul ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 122px;
    height: 120px;
    margin-left: -10%;
  }

  .skills ul ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
  }

  .language-title,
  .frame-title,
  .skill-title {
    width: 80%;
  }

  .contact {
    background: url("images/contact\ form\ background\ shapes.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 846px;
    background-color: #6070ff;
    border-top-left-radius: 100px;
  }

  .contact-desc {
    width: 560px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin: 0;
  }

  .form {
    width: 440px;
    border-radius: 2px;
  }

  .area {
    width: 440px;
    border-radius: 2px;
  }

  .contact-btn {
    margin: 20px;
  }

  .mobile {
    display: none;
  }

  .desktop {
    visibility: visible;
  }
}
